<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.YiDian.RainBow">
    <!-- 允许应用程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--华为角标-->
    <uses-permission
        android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>

    <!-- Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" /> <!-- 适配小米刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait" /> <!-- 适配华为刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>


        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey" android:value="6bbee3d776ea777c5a13959c27c7fa14">
        </meta-data>
        <!-- 高德地图定位 -->
        <service android:name="com.amap.api.location.APSService" />



        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101906973" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />



        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 这个Service要继承JCommonService -->
        <service android:name=".jiguang.JiguangService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore"
            >
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".jiguang.JiguangReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.YiDian.RainBow" />
            </intent-filter>
        </receiver>



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.YiDian.RainBow.utils.MyFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external_path"/>
        </provider>

        <!-- 引导页 -->
        <activity android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页 -->
        <activity
            android:name=".main.activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <!-- 注册 -->
        <activity
            android:name=".regist.activity.RegistActivity"
            android:screenOrientation="portrait"
            />
        <!-- 登录 -->
        <activity
            android:name=".login.activity.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <!-- 设置密码 -->
        <activity
            android:name=".setpwd.activity.SetPwdActivity"
            android:screenOrientation="portrait"
            />
        <!-- 忘记密码 -->
        <activity
            android:name=".remember.activity.RememberPwdActivity"
            android:screenOrientation="portrait"
            >

        </activity>
        <!-- 完善资料 -->
        <activity
            android:name=".login.activity.CompleteMsgActivity"
            android:screenOrientation="portrait">

        </activity>
        <!-- 问题反馈 -->
        <activity
            android:name=".feedback.activity.FeedBackActivity"
            android:screenOrientation="portrait"
            />
        <!-- 直接播放 -->
        <activity
            android:name=".main.fragment.activity.SimplePlayerActivity"
            android:screenOrientation="portrait" />
        <!-- 直接播放 -->
        <activity
            android:name=".main.fragment.home.activity.NewDynamicImage"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- 用户详情 -->
        <activity android:name=".main.fragment.find.activity.UserDetailsActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- 搜索话题用户 -->
        <activity android:name=".search.SearchActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- 搜索信息展示 -->
        <activity android:name=".search.activity.SearchMsgActivity"
            android:screenOrientation="portrait"
            >

        </activity>
        <!-- 话题详情 -->
        <activity android:name=".search.activity.TopicDetailsActivity"
            android:screenOrientation="portrait"
            >
        </activity>
    </application>

</manifest>